

.friendItem {
    background-color: #2E3136;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 8px;
   // overflow-x: hidden; //prevent x-axis scrolling <-- adding this allows scrolling here - will want to make sure theres a max num of characters for usernames
    overflow-wrap: anywhere;//lets names be broken to wrap

    flex-direction: column;
    height: 11.15vh;

    &:hover {
        background-color: #3a3d43;
    }
}

.friendItem img {
    height: 50px;
    width: 50px;
    border-radius: 50%; //circle shape

   // margin-right: 10px;
}

#chatRoomBox {
    height: 70vh;
    background-color: #2f3341b8;
    

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #0BE2FF
    }

    &::-webkit-scrollbar-track {
        background-color: #006B8F;
        box-shadow: inset 0 0 5px rgba(127, 247, 253, 0.285), 0 0 8px rgba(134, 237, 237, 0.367);
   
    }

}

.messageItem {
    padding: 10px;
}

.messageTime {
    font-size: small;
    color: #ffffffde;
}

.messageItem img {
    height: 27px;
    width: 27px;
    border-radius: 50%; //circle shape
    margin-right: 6px;
}

#chatIconHolder {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-bottom: 2%;
    }
}

