


<main class="main">
  <header class="w-full h-16 bg-green-400">
    <nav>
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
      <a></a>
    </nav>
  </header>
  
  
  <!-- <div class="content">
    <div class="left-side">
      <h1 class="text-blue-500">Hello, {{ title }}</h1>
      <h2>Home Page</h2>
      <p class="font-bold text-red-500 text-2xl"> Your app is running. 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>

  </div> -->
  <div class="h-16 bg-blue-300">Layout page shown</div>
  
</main>

<router-outlet>
<router-outlet />
