<p>accounts works!</p>


<div>
    <div>
        <form methods="POST">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </fieldset>
            <fieldset>
                <label for="age">Name</label>
                <input type="number" name="age" id="age">
            </fieldset>
            <fieldset>
                <label for="email">Name</label>
                <input type="email" name="email" id="email">
            </fieldset>
        </form>

    </div>
</div>
